<div class="row">
  <div class="col-12">
    <!-- <div *ngIf="error" class="alert alert-danger">
      <p>{{ error }}</p>
    </div> -->
    <!-- <app-alert
      *ngIf="error"
      [message]="error"
      (close)="errorRead()"
    ></app-alert> -->
    <ng-template appPlaceholder></ng-template>
    <div *ngIf="loading"><app-loading-spinner></app-loading-spinner></div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          formControlName="email"
          type="email"
          name="email"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          formControlName="password"
          type="password"
          name="password"
          class="form-control"
        />
        <span
          *ngIf="
            !loginMode &&
            !form.get('password').valid &&
            form.get('password').touched
          "
          style="color: gray"
          >Min length of 8</span
        >
      </div>
      <div *ngIf="!loginMode">
        <label for="confirm-password">Confirm password</label>
        <input
          formControlName="confirmPassword"
          type="password"
          name="confirm-password"
          class="form-control"
        />
        <span
          *ngIf="
            !loginMode &&
            form.get('confirmPassword').touched &&
            !form.get('confirmPassword').valid
          "
          style="color: gray"
          ><span
            *ngIf="form.get('confirmPassword').errors.minlength; else mismatch"
            >Min length of 8</span
          ><ng-template #mismatch
            ><span *ngIf="form.get('confirmPassword').errors.unmatched"
              >Passwords don't match</span
            ></ng-template
          ></span
        >
      </div>
      <div style="margin-top: 1rem">
        <button [disabled]="!form.valid" type="submit" class="btn btn-primary">
          {{ loginMode ? "Login" : "Sign up" }}
        </button>
        |
        <button type="button" (click)="onSwitchMode()" class="btn btn-primary">
          Switch to {{ !loginMode ? "Login" : "Sign up" }}
        </button>
      </div>
    </form>
  </div>
</div>
